body {
        
    height: 650px;
    background-color: $bgcolor;
        
        background-size: cover;
        /* background-attachment: fixed; */
        /* overflow: hidden; */
}

.productos__destacados {
   margin left: 600px;
   
 
    
    }
