.header {
    height: 30px;
    // max-width: 1200px;
    // margin: 0 auto;
    /* background-color: rgb(255, 0, 179); */
    background-color: $primary;
    padding: 10px 10px;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
align-items: center;
}

.navbar-brand {
    color: $primary;
    font-weight: 700;
    font-size: 35px;
}

.navbar-brand:hover {
    color: white;
}

.navbar-list {
    @extend .container;
    margin: 15px 5px 15px 500px;
    max-width: 1200px;
    
    
    
}
.nav-link {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
    padding: 5px;
    transition: all 0,3s;
}
.nav-link:hover {
    color: $primary;
    font-size: 20px;
    font-weight: 400;
    margin: 0 10px;
    padding: 5px;
    transform: translateY(-3px);
}


.header__Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content-tittle {
    color: white;
    margin-left: 100px;
}
.header__content-tittle:hover {
    color: rgb(255, 255, 255);
    font-size: 30px;
}


.header__content-navbar {
    display: flex;
    margin-right: 100px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header__content-navbar a {
    margin: 0 15px;
    color: white;
    font-weight: bold;
}

.header__content-navbar a:hover {
    color: $primary;
        font-size: 20px;

}
@media (max-width: 576px) {

    .header {
        height: 100px;
    }
    .header__content-tittle {
        margin-left: 220px;        
        font-size: 30px;

    }
    
    .header__content-navbar {
        display: none;
    }

    .nav-link {
        display: inline-block;
        color: white;
    }
    .section1 {
        max-width: 576px;
    }
    
    .section2 {
        display: block;
    }
 
  }